body {
    background-color: #f5f5f5;
}
.hide {
    display: none;
}
.cover {
    width: auto;
    max-height: 460px;
}
.bg-cover {
    background-color: #a353bb;
}
.bg-cover:hover {
    background-color: #561769 !important;
}
.btn-purple {
    color: #fff;
    background-color: #943baf;
    border-color: #943baf;
}
.btn-purple:hover {
    color: #fff;
    background-color: #75248d;
    border-color: #75248d;
}
